.PoseInfo {}

.value-data{
    word-break: break-word;
    box-sizing: content-box;
    display: inline;
    white-space: pre-wrap;
    margin: 1rem;
    font-size: 30px;
  }

.value-title{
    font-size: 40px;
    margin-top: 20px;
}