.menu2-container{
    height: 800px;
    width: 100%;
    background-color: #27cfb3;
    border-bottom-left-radius: 170px;
    display: block;
}
.menu2-title{
    display: flex;
    width: 100%;
    height: 110px;
    justify-content: space-between;
}

.menu2-title> div >h5{
    height: 0;
    margin-left: 100px;
    color: #ffffff;
    font-size: 45px;
    margin-top: 40px;
    font-family: NanumSquare_acEB;
}

.menu2-title> div{
    display: flex;
}

.menu2-title> div> img{
    width: 60px;
    height: 60px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.menu2-title> svg{
    margin-right: 100px;
    margin-top: 40px;
}

.menu2-small-title{
    margin-left: 100px;
    font-size: 30px;
}

.menu2-small-title>label{
    color: #ffffff;
}

.videos{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.videos> img{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    bottom: 30px;
    left: 2300px;
}


.next-video{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 380px;
    margin-top: 350px;
    padding: 20px 30px 30px 30px;
    border-radius: 30px;
    background-color: #f0eded;

    color: darkgray;
    font-size: 50px;
    font-weight: bold;
    font-family: NanumSquare_acEB;
}

.next-video> div> img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.next-video> img{
    width: 350px;
    height: 280px;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.16);
    border: 5px solid #27cfb3;
}

.user-video{
    display: flex;
    width: 1800px;
    height: 800px;
    margin: 40px;
    background-color: #ffffff;
    border: 15px dashed #b6f4ea;
    border-radius: 70px;
    justify-content: center;
}

.next-videos{
    display: flex;
    width: 350px;
    height: 200px;
    margin-bottom: 30px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #b6f4ea;
    flex-direction: column;
}

#just-next-video{
    background-color: rgba(240, 237, 237, 0.4);
}