.menubar{
    width: 80px;
    height: 1000px;
    margin-left: 25px;
    margin-top: 80px;
    margin-bottom: 60px;
    padding: 0px;
    background-color: rgba(39, 207, 179, 0.56);
    border-radius: 25px;
}

.menubar>ul{
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menubar li{
    height: 80px;
    margin-bottom: 15px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubar>ul>.clicked>li>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.menubar>ul>.unclicked>li>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.menubar> ul> .clicked:hover> li> div> label{
    color: #27cfb3;
    display: flex;
}
.menubar> ul> .unclicked:hover> li> div> label{
    color: #109b84;
    font-family: NanumSquare_acEB;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
    display: flex;
}

.menubar> ul> .unclicked:hover> li> div> img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menubar> ul> .unclicked> li> div>label{
    display: none;
}
.menubar> ul> .unclicked> li> div>img{
    display: none;
}



.menubar>ul>.clicked>li>div>label{
    display: flex;
    color: #ffffff;
    font-family: NanumSquare_acEB;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
}

.menubar .unclicked li:hover{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.16);
    height: 80px;
    border-radius: 25px;
    width: 300px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menubar>ul>.clicked>li:hover>div>label{
    color: white;
}

div> ul> .clicked{
    background-color: #27cfb3;
    margin-bottom: 15px;
    height: 65px;
    border-radius: 25px;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-top: 15px;
}

div> ul> .unclicked> li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

div > ul > *{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

div> ul label{
    display: flex;
}

div> ul> .clicked> li>div>label{
    display: flex;
}

.sidemenu-container{
    display: block;
}
.sidemenu-container>div{
    display: flex;
}

.sidemenu-container>div> h3{
    font-family: NanumSquare_acEB;
    font-size: 35px;
    color: #615b5b;
    margin-left: 10px;
    width: 300px;

}

.logo-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 10px;
}