.menu1-container{
    height: 380px;
    width: 100%;
    background-color: #27cfb3;
    border-bottom-left-radius: 100px;
    display: block;
}
.menu1-title{
    display: flex;
    width: 100%;
    height: 110px;
    justify-content: space-between;
}

.menu1-title h5{
    height: 0;
    margin-left: 100px;
    color: #ffffff;
    font-size: 45px;
    margin-top: 40px;
    font-family: NanumSquare_acEB;
}

.menu1-title> div{
    display: flex;
}

.menu1-title> div> img{
    width: 60px;
    height: 60px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.menu1-title>svg{
    margin-right: 100px;
    margin-top: 40px;
}

.menu1-small-title{
    margin-left: 100px;
    font-size: 30px;
}

.menu1-small-title>label{
    color: #ffffff;
}

#trapezoid {
    border-bottom: 100px solid #27cfb3;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 280px;
    margin-left: 80px;
    display: inline-block;
}

.menu1-wrapper{
    display: block;
    width: 100%;
}
.url-container{
    color: #ffffff;
    margin-left: 150px;
    margin-top: 80px;
    font-size: 30px;
}
.url-input{
    width: 700px;
    height: 45px;
    margin-left: 20px;
    font-size:20px;
    border: none;
}
.url-button{
    background-color: #7cebd8;
    padding-left: 10px;
    padding-bottom: 7px;
    padding-right: 5px;
    width: 40px;
    height: 40px;
    position: relative;
    top: 16px;
}
.url-button:hover{
    box-shadow: 5px 5px 5px rgb(154, 152, 152);
}
.menu1-wrapper>label{
    color: #a9a1a1;
    margin-left: 70px;
    font-size: 30px;
    position: relative;
    top: 10px;
}
.content{
    display: block;
    width: 100%;
}
.block{
    height: 80px;
    width: 300px;
    background-color: #27cfb3;
    border-radius: 100px;
    opacity: 0.5;
    margin-bottom:2px;
    display: inline-block;
    position: inherit;

}
.block-box{
    margin-top: 50px;
    margin-left: 100px;
    display: inline-block;
}
.box-wrapper{
    display: block;
    position: relative;
}
.block:hover{
    opacity:1; 
}
.block:hover +.arrow-box{
    opacity:1; 
}
.send-icon{
    padding-top:25px;
    padding-left:250px;
}
.arrow-box {
	position: absolute;
    right: 350px;
    top: 0px;
    bottom:0px;
	background: #d3d2d2;
    height: 200px;
	width: 200px;
    border-radius: 20px;
    opacity:0;
}

.preview-img{
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
}
.time-box{
    width: 340px;
    height: 120px;
    padding:10px 43px 40px 51px;
    object-fit: contain;
    opacity: 0.51;
    border-radius: 50px;
    position:fixed;
    right: 50px;
    bottom:50px;
    background-color: #a3daf9;
    font-size: 30px;
    line-height: 1em;
    text-align: center;
    color: #565454 im !important;
    font-weight: bolder;
}
