.menu1-container{
    height: 380px;
    width: 100%;
    background-color: #27cfb3;
    border-bottom-left-radius: 100px;
    display: block;
}
.menu1-title{
    display: flex;
    width: 100%;
    height: 110px;
    justify-content: space-between;
}

.menu1-title h5{
    height: 0;
    margin-left: 100px;
    color: #ffffff;
    font-size: 45px;
    margin-top: 40px;
    font-family: NanumSquare_acEB;
}

.menu1-title> div{
    display: flex;
}

.menu1-title> div> img{
    width: 60px;
    height: 60px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.menu1-title>svg{
    margin-right: 100px;
    margin-top: 40px;
}

.menu1-small-title{
    margin-left: 100px;
    font-size: 30px;
}

.menu1-small-title>label{
    color: #ffffff;
}

#trapezoid {
    border-bottom: 100px solid #27cfb3;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 280px;
    margin-left: 80px;
    display: inline-block;
}

.menu1-wrapper{
    display: block;
    width: 100%;
}
.url-container{
    color: #ffffff;
    margin-left: 150px;
    margin-top: 80px;
    font-size: 30px;
}
.url-input{
    width: 700px;
    height: 45px;
    margin-left: 20px;
    font-size:20px;
    border: none;
}
.url-button{
    background-color: #7cebd8;
    padding-left: 10px;
    padding-bottom: 7px;
    padding-right: 5px;
    width: 40px;
    height: 40px;
    position: relative;
    top: 16px;
}
.url-button:hover{
    box-shadow: 5px 5px 5px rgb(154, 152, 152);
}
.menu1-wrapper>label{
    color: #a9a1a1;
    margin-left: 70px;
    font-size: 30px;
    position: relative;
    top: 10px;
}
.content{
    display: block;
    width: 100%;
}
.block{
    height: 80px;
    width: 300px;
    background-color: #27cfb3;
    border-radius: 100px;
    opacity: 0.5;
    margin-bottom:2px;
    display: inline-block;
    position: inherit;

}
.block-box{
    margin-top: 50px;
    margin-left: 100px;
    display: inline-block;
}
.box-wrapper{
    display: block;
    position: relative;
}
.block:hover{
    opacity:1; 
}
.block:hover +.arrow-box{
    opacity:1; 
}
.send-icon{
    padding-top:25px;
    padding-left:250px;
}
.arrow-box {
	position: absolute;
    right: 350px;
    top: 0px;
    bottom:0px;
	background: #d3d2d2;
    height: 200px;
	width: 200px;
    border-radius: 20px;
    opacity:0;
    display: inline-block;
}

.arrow-box img{
    height: 180px;
	width: 180px;
    position: relative;
    left: 7.5px;
    top: 7.5px;
    border: 2px solid #27cfb3;
}
.exercise-list{
    display: inline-block;
    width: 800px;
    margin-top: 50px;
    margin-left: 100px;
    padding-left: 0;
    white-space: nowrap;
    overflow-x: scroll;
    position: absolute;
}
.exercise-list img{
    width:240px;
    height:240px;
    padding: 20px 20px 20px 20px;
    
}
.exercise-list li{
    list-style:none;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    background-color: #f7f4f4;
    
}
.list-img{
    width:280px;
    height:280px;
    background-color: #ffffff;
    border: solid 2.5px #a7a6a6;
    border-radius: 10%;
}
.list-text{
    width: 100px;
    height: 20px;
    margin: 10px auto;
    padding: 11px 14px 11px 15px;
    object-fit: contain;
    border-radius: 30px;
    background-color: #ffffff;
    border: solid 2.5px #a7a6a6;
    text-align: center;
    
}
.list-text text{
    font-size: 20px;
    color: #aaaaaa;
} 
.time-box{
    width: 350px;
    height: 100px;
  /*  */
    object-fit: contain;
    opacity: 0.51;
    border-radius: 50px;
    position:fixed;
    right: 50px;
    bottom:30px;
    background-color: #a3daf9;
    text-align: center;
}
.time-box text{
    font-size: 25px;
    line-height: 1em;
    text-align: center;
    color: #565454;
    opacity: 1 !important;
    font-weight: bolder;
}