.block{
    height: 80px;
    width: 300px;
    background-color: #27cfb3;
    border-radius: 100px;
    opacity: 0.5;
    margin-bottom:2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}
.block label{
    width:inherit;
    color:white;
    font-size: 30px;
    display: flex;
    margin-left: 100px;
    font-family: NanumSquare_acEB;
}
.box-wrapper{
    display: flex;
    align-items: flex-end;
    flex-direction:column;
    position: relative;
}
.block:hover{
    opacity:1; 
}
.block:hover +.arrow-box{
    display: inline-block; 
}
.block:hover +.block label{
    font-weight: bolder;
}
.arrow-box {
	position: absolute;
    right: 350px;
    top: 0px;
    bottom:0px;
	background: #d3d2d2;
    height: 200px;
	width: 200px;
    border-radius: 20px;
    display: none;
}

.arrow-box img{
    height: 180px;
	width: 180px;
    position: relative;
    left: 7.5px;
    top: 7.5px;
    border: 2px solid #27cfb3;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}