.fitness-container{
    display: flex;
    align-items: center;

}

.fitness{
    border: 2px solid #27cfb3;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.16);
    width: 170px;
    height: 170px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}