.recommend-fitness-container > label{
    font-family: NanumSquare_acR;
    font-size: 27px;
    color:#949090;
    margin-top: 50px;
    display: flex;

}

.recommend-fitness-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommend-fitness-container > *{
    margin-bottom: 30px;
}