.recommend-set-container{
    width: 540px;
    height: 170px;
    background-color: white;
    border-radius: 30px;
    border: 3px solid #d7dddc;
    display: flex;
    align-items: flex-end;
}

.recommend-set-container > label{
    background-color: #27cfb3;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 20px;
    font-size: 20px;
    font-family: NanumSquare_acER;
    color: white;
    margin-left: 27px;
    margin-bottom: 18px;
}


